<header>
<a class="site-icon" href="/">
  <img src="/img/P.png" alt="">
</a>

<nav>
  <ul>
    <li>
      <a href="/">Главная</a>
    </li>
    <% if(loggedIn && role && nickname) { %>
      <li>
        <a href="/post/add">Новый пост</a>
      </li>
      <li>
        <a href="/user/<%= nickname %>">Мой профиль</a>
      </li>
      <li>
        <a href="/auth/logout">Выйти</a>
      </li>
    <% } else { %>
      <li>
        <a href="/auth/register">Зарегистрироваться</a>
      </li>
      <li>
        <a href="/auth/login">Войти</a>
      </li>
    <% } %>
  </ul>
</nav>
</header>