<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body>
  <%- include('layouts/navbar'); -%>
  
  <div class="container">
    <% if(locals.message) { %>
      <h1><%= message %></h1>
    <% } else { %>
      <h1>ERROR #404: Page Not Found</h1>
    <% } %>
  </div>
</body>
</html>