* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    background-color: #eee;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

header nav {
    height: 70px;
}

header .site-icon {
    width: 40px;
    height: 70px;
    margin-left: 10%;
}

header .site-icon img {
    height: 70px;
}

header nav ul {
    margin-right: 1rem;
    display: flex;
    list-style: none;
    height: 70px;
}

header nav li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav li:hover {
    cursor: pointer;
    background-color: #eee;
}

header nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    color: #000;
    font-size: 20px;
    outline: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

header nav li a:-webkit-any-link {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.errors {
    margin-bottom: 15px;
    width: 30%;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2px;
    font-size: 20px;
    color: red;
    border: 2px solid red;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}

.login-title {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 400;
}

#logo {
    margin-bottom: 50px;
}

.login-form, .register-form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.login-form input, .register-form input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 20px;
}

.login-form button, .register-form button{
    width: 100%;
    height: 40px;
    background-image: linear-gradient(45deg, #d76a6a 0%, #d4313f 50%, #680000 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

.login-form input, .register-form input{
    display: block;
    margin-bottom: 0.5rem;
}

.required-field {
    margin-bottom: 0.5rem;
    color: red;
}

.user-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.user-info .main-info {
    width: 30%;
    height: 300px;
    margin: 10px;
}

.main-info .user-avatar{
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

.change-avatar {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 18px;
}

.change-avatar label {
    font-size: 20px;
    margin-bottom: 0.2rem;
}

.change-avatar input {
    font-size: 18px;
}

.change-avatar .error {
    display: block;
    border: none;
    font-size: 14px;
    width: auto;
    margin: 3px 0;
}

.change-avatar button {
    margin-top: 0.2rem;
    width: 150px;
    font-size: 18px;
    height: 25px;
    display: block;
}

.user-info .other-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.user-info .other-info p {
    font-size: 24px;
    margin: 10px 0;
}

.other-info .user-nickname{
    font-size: 50px;
    font-weight: 400;
}

.user-posts {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-posts .user-info {
    font-size: 30px;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.post {
    width: 80%;
    max-width: 1200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.author-date {
    width: 100%;
    min-height: 50px;
    display: flex;
}

.author-date div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.post-title {
    text-decoration: none;
    color: #000;
    font-size: 40px;
}

.post-avatar {
    width: 50px;
    height: 50px;
}

.post-avatar > img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.post-author {
    width: 0px;
    font-size: 20px;
}

.post-author:-webkit-any-link {
    color: #b60c0c;
    text-decoration: none;
}

.post-author:-webkit-any-link:hover {
    text-decoration: underline;
}

.post-time {
    font-size: 14px;
}

.likes-comments {
    margin-top: 10px;
    width: 100%;
    display: flex;
    font-size: 16px;
}

.likes-comments .post-likes{
    margin-right: 10px;
}

.likes-comments .post-comments{
    display: inline;
}

button.post-likes {
    font-size: 16px;
    border: none;
    outline: none;
    color: #111;
    background-color: #fff;
    transition: 0.3s all ease;
}

button.post-likes:hover {
    color: red;
    cursor: pointer;
}

.new-post-title {
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 1.5rem;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#summernote {
    border-radius: 5px;
}

.summernote-form {
    width: 70%;
}

.create-post {
    width: 130px;
    font-size: 20px;
    height: 40px;
    margin-bottom: 30px;
}

.page-title {
    font-size: 40px;
    font-weight: 400;
}

body.single-post {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.post.single {
    border: none;
    border-radius: 0;
    height: auto;
    margin-bottom: 30px;
}

.post.single .author-date{
    padding: 10px;
}

.post.single .post-title{
    width: 100%;
    text-align: center;
}

.post-content {
    padding: 15px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    height: auto;
}

.comment {
    max-width: 1200px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.comment-avatar {
    width: 40px;
    height: 40px;
}

.comment-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment-time {
    font-size: 14px;
}

.comment-content {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.comment-author {
    font-size: 20px;
}

.comment-author:-webkit-any-link {
    color: #b60c0c;
    text-decoration: none;
}

.comment-author:-webkit-any-link:hover {
    color: #b60c0c;
    text-decoration: underline;
}

button.comment-likes {
    font-size: 14px;
    border: none;
    outline: none;
    color: #111;
    background-color: #fff;
    transition: 0.3s all ease;
}

button.comment-likes:hover {
    color: red;
    cursor: pointer;
}

.comments-info {
    font-size: 22px;
    margin-bottom: 15px;
}

.comment-form {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.comment-form textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none;
    border-radius: 10px;
    outline: none;
    display: block;
    margin-bottom: 10px;
}

.comment-form div {
    width: 100%;
    height: auto;
    display: flex;
}

.comment-form button {
    width: 100px;
    height: 25px;
    font-size: 14px;
}